body
{
    background: url('img/carbon.png');
    background-color:black;
    font-family:monospace;
}
#header
{
    position:absolute;
    width:350px;
    left:50px;
    margin:-175px;
    font-size:24px;
    text-align:center;
    padding-bottom:10px;
    border-radius:0px 0px 8px 8px;
    box-shadow:0px 0px 10px black;
    top:0px;
}
#history
{
    position:absolute;
    width:200px;
    left:0%;
    top:20%;
    height:60%;
    z-index:2;
    min-height:300px;
    background-color:white;
    border-radius:0px 8px 8px 0px;
    box-shadow: 0px 1px 3px 0px rgb(34,34,34), /* 1st Shadow */  
                0px 0px 10px 0px rgb(17,17,17), /* 1nd Shadow */  
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
                inset 0px -10px 24px 0px rgba(0, 0, 0, .5); /* 4th Shadow */ 
    padding-left:10px;
}

#availableshots
{
    margin-top:50px;
    position:absolute;
    width:70px;
    right:0%;
    top:20%;
    z-index:1;
    padding:10px;
}

.shotwrapper
{
    padding:1em .5em 0em .5em;
    width:60px;
    height:50px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin-top:5px;
    margin-bottom:5px;
    background-color:white;
    text-align:center;
    border-radius:36px;
    cursor:pointer;
    box-shadow: 0px 1px 3px 0px rgb(34,34,34), /* 1st Shadow */  
                0px 0px 10px 0px rgb(17,17,17), /* 1nd Shadow */  
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
                inset 0px -12px 35px 0px rgba(0, 0, 0, .5); /* 4th Shadow */ 
}

.shotwrapperselected
{
    padding:1em .5em 0em .5em;
    width:60px;
    height:50px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin-top:5px;
    margin-bottom:5px;
    background-color:#73A1AF;
    text-align:center;
    border-radius:36px;
    cursor:pointer;
    box-shadow:inset 1px 1px 8px black;
}

.shotcooldownwrapper
{
    width:60px;
    height:50px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin-top:5px;
    margin-bottom:5px;
    background-color:#d1d1d1;
    text-align:center;
    border-radius:8px;
    opacity:0.3;
    box-shadow:inset 1px 1px 8px black;
}

.shotcooldowntimer
{
    display:block;
    position:relative;
    color:black;
    opacity:1.0;
    margin-top:-50px;
    margin-left:-8px;
    padding-bottom:20px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}

.shot
{
    position:relative;
    height:100%;
    width:100%;
}

#tabletop
{
    position:absolute;
    border-radius:8px;
    background-color:white;
    width:50%;
    min-width:600px;
    z-index:1000;
    height:75%;
    min-height:550px;
    top:10%;
    left:25%;
    box-shadow:0px 0px 15px black;
}

.board
{
    position:inherit;
    width:90%;
    height:90%;
    top:5%;
    left:5%;
    border:1px solid black;
    background-color:black;
}

#shipgrids
{
    position:absolute;
    bottom:0%;
    right:0%;
    width:100px;
    height:75px;
    background-color:#eeeeee;
    box-shadow: 0px 1px 3px 0px rgb(34,34,34), /* 1st Shadow */  
                0px 0px 10px 0px rgb(17,17,17), /* 1nd Shadow */  
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
                inset 0px -12px 35px 0px rgba(0, 0, 0, .5); /* 4th Shadow */ 
    border-radius:10px 0px 0px 0px;
    font-size:30px;
    text-align:center;
    cursor:pointer;
}

#one
{
    display:none;  
}

#two
{
    display:block; 
}

#shipone
{
    display:none; 
}

#shiptwo
{
    display:none; 
}

#shipview
{
    position:absolute;
    top:0%;
    right:0%;
    width:250px;
    z-index:3;
    margin-bottom:10px;
    background-color:white;
    box-shadow: 0px 1px 3px 0px rgb(34,34,34), /* 1st Shadow */  
                0px 0px 10px 0px rgb(17,17,17), /* 1nd Shadow */  
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
                inset 0px -10px 24px 0px rgba(0, 0, 0, .5); /* 4th Shadow */ 
    border-radius:0px 0px 0px 8px;
}

.ship
{
    position:relative;
    background-color:#d1d1d1;
    width:25px;
    z-index:1000;
    margin:12px;
    float:left;
}

.segment
{
    border: 1px solid black;
    width: 23px;
    height: 25px;
}

.segmenthit
{
    border: 1px solid black;
    width: 23px;
    height: 25px;
    background-image: -webkit-radial-gradient(circle, #444444, #ff6666);
    background-image: -moz-radial-gradient(circle, #444444, #ff6666);
    background-image: -o-radial-gradient(circle, #444444, #ff6666);
    background-image: radial-gradient(circle, #444444, #ff6666);
}

.headings
{
    padding-left:20%;
}

table
{
    width:100%;
    height:100%;
}   
td
{
    border:1px solid black;
    cursor:pointer;
    text-align:center;
}

.shiphit
{
    background-image: -webkit-radial-gradient(circle, #444444, #ff6666);
    background-image: -moz-radial-gradient(circle, #444444, #ff6666);
    background-image: -o-radial-gradient(circle, #444444, #ff6666);
    background-image: radial-gradient(circle, #444444, #ff6666);
}

.shipmiss
{
    background-image: -webkit-radial-gradient(circle, #eeeeee, #ff6666);
    background-image: -moz-radial-gradient(circle, #eeeeee, #ff6666);
    background-image: -o-radial-gradient(circle, #eeeeee, #ff6666);
    background-image: radial-gradient(circle, #eeeeee, #ff6666);
}

.revealhit
{
    background-image: -webkit-radial-gradient(circle, #eeeeee, #ff6666);
    background-image: -moz-radial-gradient(circle, #eeeeee, #ff6666);
    background-image: -o-radial-gradient(circle, #eeeeee, #ff6666);
    background-image: radial-gradient(circle, #eeeeee, #ff6666);
}

.revealmiss
{
    background-image: -webkit-radial-gradient(circle, #eeeeee, #cde1ff);
    background-image: -moz-radial-gradient(circle, #eeeeee, #cde1ff);
    background-image: -o-radial-gradient(circle, #eeeeee, #cde1ff);
    background-image: radial-gradient(circle, #eeeeee, #cde1ff);
}

.hit
{
    background-image: -webkit-radial-gradient(circle, #444444, #ff6666);
    background-image: -moz-radial-gradient(circle, #444444, #ff6666);
    background-image: -o-radial-gradient(circle, #444444, #ff6666);
    background-image: radial-gradient(circle, #444444, #ff6666);
}

.miss
{
    background-image: -webkit-radial-gradient(circle, #444444, #cde1ff);
    background-image: -moz-radial-gradient(circle, #444444, #cde1ff);
    background-image: -o-radial-gradient(circle, #444444, #cde1ff);
    background-image: radial-gradient(circle, #444444, #cde1ff);
}

.cloud
{
    background-color:#eeeeee;   
}