body
{
    /* background: url('img/carbon.png'); */
    background-color:white;
    font-family:sans-serif;
}

#menu
{
    background-color:red;
}

#logo
{
}

.rotate
{

}   

.rotate:hover   
{ 
}

.tab
{

}

.tab:hover
{
}

.tab:visit
{
}

#motto
{
}

#footer
{
}

#footera
{
}

#footera:hover
{
}

#footera:visted
{
}